@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: none!important;
    box-shadow: 0 0 0 2px #ed8936;
}

button:focus,
a:focus {
    @apply rounded-none;
}

.hero-image {
    background-image: url("https://picsum.photos/1920/1080");
}

.email-subscription::placeholder {
    color: #fff;
    opacity: 1;
}

.dashed:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}