@tailwind base;

*:focus {
    outline: #ed8936 solid 2px;
}

button:focus,
a:focus {
    @apply rounded-none;
}

@tailwind components;
@tailwind utilities;

.hero-image {
    background-image: url("https://picsum.photos/1920/1080");
}

.email-subscription::placeholder {
    color: #fff;
    opacity: 1;
}