{% extends "../partials/_layout.html" %}
{% from "../macros/_footer.html" import footer %}
{% from "../macros/_header.html" import header %}
{% block title %}Article page{% endblock %}
{% block template %}
    {{ header() }}
    <main id="maincontent" class="container mx-auto flex">
        <article class="w-2/3 px-2 sm:px-4 bg-white">
            {% block content %}{% endblock %}
        </article>
        <aside class="w-1/3 px-2 sm:px-4">
            {% block aside %}{% endblock %}
        </aside>
    </main>
    {{ footer() }}
{% endblock %}