{% extends "layouts/_layout.njk" %}
{% from "macros/_footer.njk" import footer %}
{% from "macros/_header.njk" import header %}
{% block title %}Form page{% endblock %}
{% block template %}
    {{ header() }}
    <main id="maincontent" class="container--form">
        {% block content %} {% endblock %}
    </main>
    {{ footer() }}
{% endblock %}