{% extends "templates/_article.njk" %}
{% block content %}
<h1 class="h1">Get help to put your bins out</h1>
<ol class="article__navigation">
    <li><p class="navigation__item">How to get help to put your bins out</p></li>
    <li><a href="#" class="navigation__item--link">Ask an organisation to refer you</a></li>
    <li><a href="#" class="navigation__item--link">Ask your doctor to confirm you meet the criteria</a></li>
</ol>
<hr class="mb-8"/>
<section>
    <h2 class="text-3xl">1. How to get help to put your bins out</h2>
    <p>Your bin, box or bin bag must be out at the front edge of your property or at a collection point by 7am on your collection day. However, you can ask for an assisted bin collection to help you put your bin out if you have:</p>
    <ul>
        <li>a mobility or health condition that means you cannot put your bins out<br> and</li>
        <li>no-one else in the home that can help you</li>
    </ul>
    <p>You can use our online form to request help for yourself or on behalf of someone else. If you apply for someone else, you'll need to know some information about the person who needs help.</p>
    <p>You'll need some evidence to show that you need help, this could be:</p>

    <h3>Your Blue Badge</h3>
    <p>The quickest piece of evidence you can use to get help to put your bins out is your Blue Badge.  If you have a Blue Badge, you can give us the number on the online form and we’ll use this to approve your request.</p>
    
    <h3>Your doctor</h3>
    <p>You can ask your doctor to confirm you meet the criteria for an assisted bin collection. Please be aware that some doctor’s may charge for this service. Find out what you need to do on our <a href="#">ask your doctor to confirm you meet the criteria</a> page.</p>
    
    <h3>A referring organisation</h3>
    <p>You can contact one of our referring organisations who can request an assisted bin collection for you.  You may need to visit them or they may visit you in your own home to discuss your needs.</p>
    <p>Visit our <a href="#">referring organisations</a> information for their contact details.</p>
    <a href="#">Request an assisted bin collection</a>
    
    <hr>

    <div>
        <h2>I'm from a referring organisation</h2>
        <p>If you are from one of our referring organisations, please use our <a href="#">request an assisted bin collection for a client</a> page.</p>
    </div>

    <div>
        <a href="#">
            <div>
                Next page
                <span>Ask an organisation to refer you</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.175 477.175">
                <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z" />
            </svg>
        </a>
    </div>
</section>
{% endblock %}

{% block aside %}
<h2>Bins and recycling</h2>
<ul>
    <li>
        <a href="#">Find your bin collection day</a>
    </li>
    <li>
        <a href="#">Request a bin</a>
    </li>
    <li>
        <a href="#">Bin collection problems</a>
    </li>
    <li>
        <a href="#">What you can put in your bins</a>
    </li>
    <li>
        <a href="#">Bulky items and waste</a>
    </li>
    <li>
        <a href="#">Tips and recycling centres</a>
    </li>
    <li>
        <a href="#">More</a>
    </li>
</ul>
{% endblock %}