{% macro footer(showLinks=true) %}
<footer class="w-full bg-teal-800 text-white border-t-8 border-solid border-teal-400 pin-b">
        <div class="container mx-auto flex flex-col py-4 border-b border-solid border-teal-900 px-2 sm:flex-row sm:px-0">
            <a href="#" class="self-start mr-8 mb-4 sm:mb-0">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/logo-stockport-full%402x.png"
                    alt="Stockport council logo"
                    class="h-10">
            </a>
            <ul class="col-count-1 sm:col-count-2">
                <li><a class="hover:underline"
                        href="https://int-iag-stockportgov.smbcdigital.net/topic/about-our-website">About our
                        website</a></li>
                <li><a class="hover:underline"
                        href="https://int-iag-stockportgov.smbcdigital.net/accessibility-statement">Accessibility
                        statement</a></li>
                <li><a class="hover:underline" href="https://int-iag-stockportgov.smbcdigital.net/topic/contact-us">Contact
                        us</a></li>
                <li><a class="hover:underline" href="https://int-iag-stockportgov.smbcdigital.net/how-to-find-us">How to
                        find us</a></li>
                <li><a class="hover:underline"
                        href="https://int-iag-stockportgov.smbcdigital.net/topic/data-protection">Data protection</a>
                </li>
                <li><a class="hover:underline"
                        href="https://int-iag-stockportgov.smbcdigital.net/terms-and-conditions">Terms and
                        conditions</a></li>
                <li><a class="hover:underline"
                        href="https://int-iag-stockportgov.smbcdigital.net/freedom-of-information">Freedom of
                        information</a></li>
                <li><a class="hover:underline"
                        href="https://int-iag-stockportgov.smbcdigital.net/website-feedback">Feedback</a></li>
                <li><a class="hover:underline" href="/account/logout">Sign out</a></li>
            </ul>
        </div>
        {% if showLinks %}
        <div class="container mx-auto flex flex-wrap items-start justify-between py-4 px-2 sm:flex-no-wrap sm:px-0">
            <a href="https://www.gov.uk/" target="_blank" class="w-1/2 sm:w-auto mb-4 sm:mb-0">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/gov-uk-logo.png" alt="GOV UK"
                    class="h-6 w-auto">
            </a>
            <a href="https://www.greatermanchester-ca.gov.uk/" target="_blank" class="w-1/2 sm:w-auto mb-4 sm:mb-0">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/GMCA-logo.png"
                    alt="Greater Manchester Combined Authority" class="h-10 w-auto">
            </a>
            <a href="https://awards.themj.co.uk/" target="_blank" class="w-1/2 sm:w-auto">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/mj-logo.png"
                    alt="The MJ Achievement Awards 2019" class="h-10 w-auto">
            </a>
            <a href="https://idea.org.uk/" target="_blank" class="w-1/2 sm:w-auto">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/Pioneer-logo.png" alt="Pioneer"
                    class="h-8 w-auto">
            </a>
        </div>
        {% endif %}
        <div class="bg-teal-900 py-2 text-left text-xs px-2 sm:px-0">
            <p class="container mx-auto flex">
                <svg class="fill-current h-3 w-3 self-center mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                    <path
                        d="M22.001,0C9.851,0,0,9.851,0,22s9.851,22,22.001,22S44,34.149,44,22S34.151,0,22.001,0z M22.001,41.998C10.956,41.998,2.002,33.047,2.002,22c0-11.047,8.954-19.998,19.999-19.998C33.046,2.002,42,10.953,42,22C42,33.047,33.046,41.998,22.001,41.998z M22.001,11.002c3.037,0,5.788,1.228,7.777,3.219l1.414-1.412C28.841,10.457,25.59,9,22.001,9c-7.18,0-13,5.822-13,13c0,7.178,5.82,13,13,13c3.589,0,6.84-1.457,9.191-3.809l-1.414-1.412c-1.989,1.99-4.74,3.219-7.777,3.219C15.926,32.998,11,28.075,11,22S15.926,11.002,22.001,11.002z" />
                </svg>
                2019 - Stockport Metropolitan Borough Council
            </p>
        </div>
    </footer>
{% endmacro %}